* {
	box-sizing: border-box;
}

body {
	background-color: #000000;
	font-family: Nunito, sans-serif;
}

.navbar-nav li {
	color: #9300ff;
}

a {
	color: #9300ff !important;
}

.btn {
	background-color: #9300ff;
	color: #ffffff !important;
}

h1 {
	color: #ffffff;
	font-size: 20px;
	margin: auto;
	width: 95%;
	padding: 2.5px;
	color: #9300ff;
}

li {
	color: #9300ff !important;
}

#carouselExampleFade {
	margin-left: 130px;
	margin-right: 130px;
	margin-top: 30px;
	width: 80%;
	background-color: #323B3F !important;
}

h5 {
	color: #ffffff;
}

p {
	color: #ffffff;
}

.col-sm-4 i {
	color: #9300ff;
}

.btn-primary {
	display: none;
}

img:hover+.btn-primary {
	display: inline-block;
}

.col {
	margin: 40px;
}



.carousel-control-prev {
margin-left: -85px;
	margin-right: 80px; 
}

.container img {
 width: 1300px;
 height: 500px;
}



/* Bottom left text */
.text-block {
  position: absolute;
  bottom: 25px;
  left: 5px;
  text-align: left;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  margin-right: 0px;
  margin-left: 0px;
}

div.container {
  max-width: 2000px;
  margin: auto;

}

h4{
  font-size: 40px;
}

#pbtn1{
  color:#ffffff
}